html{
    padding: 0px;
    margin: 0px;
}

body{
    padding: 0px;
    margin: 0px;
}

h1{
    display: inline;
}

ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul li{
    display: inline;
    padding: 8px;
}

.header{
    line-height: 60px;
    padding: 20px;
    background-color: #F4CB42;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    width: 70%;
    justify-content: flex-start;
    background-color: lightgray;
    min-height: 500px;
}

.sidebar{
    width: 30%;
    justify-content: flex-end;
    background-color: darkgray;
    color: #ffffff;
    min-height: 500px;
}

p{
    margin: 20px;
    padding: 7px;
}

.main{
    display: flex;
}

.blog-post{
    margin: 10px;
    background-color: white;
    border: solid 2px gray;
    border-radius: 5px;
    padding: 10px;
}

img{
    float: left;
    margin: 10px 20px 0 20px;
}